<header>
  <div class="container-fluid">
      <div class="row pt-4 pb-4">
        <div class="col-12  col-sm-4 col-md-3 float-left">
           <h5 class=" text-left text-light">
              <i class = "fa fa-home"></i><span style="font-weight: bolder;"> TUTENTEST</span></h5>
        </div>
        <div class="d-none d-sm-block  col-sm-8 col-md-9">
          <div class="col-4 float-right" style="width:300px;">
              <span class=" text-white small" *ngIf=""><i>Bienvenido</i></span>
          </div>
          <div class="col-1 float-right">
              <a class="btn btn-social-icon text-light  btn-instagram btn-xs">
                  <i class = "fa fa-instagram"></i>
              </a>
          </div>
          <div class="col-1  float-right">
              <a class="btn btn-social-icon text-light  btn-linkedin btn-xs">
                  <i class = "fa fa-linkedin"></i>
              </a>
          </div>
          <div class="col-1  float-right">
              <a class="btn btn-social-icon text-light  btn-twitter btn-xs">
                  <i class = "fa fa-twitter"> </i>
              </a>
          </div>
          <div class="col-1  float-right">
              <a class="btn btn-social-icon text-light  btn-facebook btn-xs">
                  <i class = "fa fa-facebook"> </i>
                </a>
          </div>
          <div class="col-1  float-right">
              <a class="btn btn-social-icon text-light  btn-google btn-xs">
                  <i class = "fa fa-google"> </i>
                </a>
          </div>
        </div>
      </div>
  </div>
</header>
