<footer>
  <div class="container">
      <div class="row text-white text-small pt-2">
          <div class="col-4 offset-1 col-sm-2">
              <h5>Enlaces</h5>
              <ul class="list-unstyled">
                  <li><a nav-link  routerLink="/home" routerLinkActive="router-link-active" href="/">Listado Bookings</a></li>
                  <li>Diseñado: <i class="fa fa-phone-square pr-2"></i><i class="fa fa-desktop pr-2"></i><i class="fa fa-tablet pr-2"></i></li>
              </ul>
          </div>
          <div class="col-7 col-sm-5 ">
              <h5>Ubicación</h5>
              <address>
            Vargas, Venezuela<br>
            <i class="fa fa-phone fa-lg"></i> : +58 412 6327907<br>
            <i class="fa fa-fax fa-lg"></i> : +58 412 6327907<br>
            <i class="fa fa-envelope fa-lg"></i> : <a href="mailto:oswaldosoft2003@gmail.com" class="text-white">oswaldosoft2003@gmail.com</a>
         </address>
          </div>

        <div class="col-12 col-sm-4 col-md-4">
          <h5>Información</h5>
          <p>Desarrollado para evaluación Tuten</p>
        </div>
     </div>
     <div class="row justify-content-center">
          <div class="col-auto text-white">
              <p>© Copyright 2020 Oswaldo Molina</p>
          </div>
     </div>
  </div>

</footer>


